html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.gqlx-app {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.gqlx-editor-view,
.gqlx-result-view {
  flex: 1;
}

.gqlx-query-editor .cm-scroller {
  padding-top: 80px;
}
